<div class="menu-container">
 
    <div class="category">

    <div class="menu">
        <img src="https://img.freepik.com/free-vector/flat-design-smartphone-different-perspectives_52683-52558.jpg"
        width="200px">
        <h1>Mobiles</h1></div>
    <div class="menu">
        <img src="https://t3.ftcdn.net/jpg/01/76/97/56/360_F_176975606_NENcObythCwyPxA6n5vSKxwc8lVLa3In.jpg"
                width="200px">
        <h1>Electronics</h1></div>
    <div class="menu">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbCrita0LJdqfGbryAL2dk3T9HFe1t5zyJ1A&s"
                width="200px">
        <h1>Beauty</h1></div>
    <div class="menu">
        <img src="https://static.toiimg.com/thumb/msid-103872472,imgsize-103834,width-400,resizemode-4/103872472.jpg"
        width="200px">
        <h1>Fashion</h1></div>
    <div class="menu">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcFT1vLJRfzn5PrO4I7wdqSkC7wZjUEr7kvQ&s"
        width="200px">
        <h1>Furniture</h1></div>
    <div class="menu">
        <img src="https://st2.depositphotos.com/4431055/11473/i/450/depositphotos_114730670-stock-illustration-toys-collection-isolated.jpg"
                width="200px">
        <h1>Toys</h1></div>
    <div class="menu">
        <img src="https://cdn.grabon.in/gograbon/images/web-images/uploads/1618548899692/groceries-offers.jpg"
        width="200px">
        <h1>Groceries</h1></div>
    <div class="menu">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTffuZx6fpy6d_w_L-QZOANv0eJ62T7KUAG0w&s"
        width="200px" height="150px">
        <h1>Appliances</h1></div>
    <div class="menu">
        <img src="https://media.istockphoto.com/id/1262703823/vector/last-minute-limited-offer-with-clock-for-sale-promo-button-logo-or-banner-or-red-background.jpg?s=612x612&w=0&k=20&c=MkGZunBxsoz7yNA9jA2gDeP9yooqutV6Xuc44zv65tk="
                width="200px">
        <h1>Deals</h1></div>
    <div class="menu">
        <img src="https://static.toiimg.com/thumb/msid-103872472,imgsize-103834,width-400,resizemode-4/103872472.jpg"
        width="200px">
        <h1>Offers</h1></div>
    </div>
    
    
    
</div>