.product-container{
    margin-top: 2%;
    display: flex;
    gap: 80px;
}
h3{
    margin-left: 20%;
    background: rebeccapurple;
    color: white;
    padding: 10px;
    width: fit-content;
}
.MRP{
    text-decoration:line-through;
}
span{
    color: red;
}
.product{
    width: fit-content;
    height: fit-content;
}

.info{
    display: inline-block;
    width: 50%;
}
button{
    padding: 10px;
    margin: 10px;
    background: whitesmoke;
    color: gold;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 20px;
}
h3,button:hover{
    cursor: pointer;
}
.addmsg{
    font-size: 20px;
    color: green;
    margin-right: 10px;
    font-weight: bolder;
}
p>a{
    color: blue;
    font-size: 25px;
    text-decoration: underline;
}
/* .preview{
    left: 100px;
    top: 100px;
    position: fixed;
    overflow: auto;
    z-index: 9999;
    width: 100%; 
    height: 100%;
} */



@media screen and (max-width:855px) {
    .product>img{
        margin-top: 10%;
        width: 200px;
        height: 400px;
    }
    .product>h3{
        /* margin: 10px;
        font-size: 20px; */
        /* width: 4px; */
        font-size: 10px;
        height: 10px;
    }
    button{
        font-size: 15px;
    }
}

@media screen and (max-width:650px) {
    .product>img{
        margin-top: 10%;
        width: 200px;
        height: 300px;
    }
    .product-container{
        gap: 30px;
    }
    .info{
        margin-top: 30px;
    }
    .info>h1,h2{
        font-size: 15px;
    }
    .info>button{
        font-size: 10px;
        margin: 2px;
        padding: 7px;
    }
    .addmsg{
        font-size: 10px;
    }
    p>a{
        font-size: 15px;
    }
}












/* .product-container{
    display: inline-flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 20px;
}
.product{
    width: 400px;
    
}
.MRP{
    text-decoration: line-through;
    font-weight: bolder;
}
span{
    color: red;
}
.info{
    background: whitesmoke;
    border: 2px solid gold;
    border-radius: 20px;
    padding: 10px;
    margin-left: 200px;

    width:700px;
}


h1{
    width: fit-content;
    padding: 10px;
    margin-left: 20px;
    font-size: 40px;

}
h2{
    margin-left: 20px;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 30px;
}
p{
    margin-left: 20px;
    font-size: 20px;
   
}

button{
    background: yellowgreen;
    border: 2px solid gold;
    border-radius: 30px;
    margin: 30px;
    padding: 25px;
    font-size: 30px;
}

.sm-product{
    display: inline-block;

}

.addmsg{
    display: inline-block;
}
a{
    display: inline-block;
    text-decoration: underline;
    font-size: 30px;
    color: blue;
}

.sm-product > img{
    width: 200px;
    height: 200px;
    margin: 20px;
}
button:hover{
    cursor: pointer;
}

@media screen and (max-width:1420px) {

    .info{
        width: 500px;
        margin:0 0 0 100px;
    }
}

@media screen and (max-width:1120px) {
    .product>img{
        width: 400px;
    }
    .info{
        width: 500px;
        margin:0 0 0 10px;
    }
}

@media screen and (max-width:1060px) {
    .product>img{
        width: 600px;
    }
    
    .info{
        width: 800px;
        flex-basis:70%;
        margin:0px;
    }
}
 */
