.cart-container{
    display: flex;
}

.cart-buy> h1{
    margin-left: 20%;
}
.cart-buy > button{
    margin-left: 10%;
    width: 600px;
    padding: 10px;
    background: yellow;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 30px;
    border: 2px solid white;
    
    

}

.quantity{
    border: 3px solid black;
    width: fit-content;
    padding: 10px;
}

.product{
    margin-top: 70px;
    margin-left: 30px;
    display: inline-block;
}

.desc{
    margin-left: 70px;
    margin-top: 50px;
    width: 50%;
    
}
.desc>h1{
    font-size: 20px;
}
.desc>button{
    background: yellow;
    font-size: 15px;
    margin-right: 40px;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid white;
    margin-bottom: 20px;
}
.select-all{
    margin-left: 80px;
    font-size: 25px;
    color: royalblue; 
}
.stock{
    color: rebeccapurple;
    text-decoration: underline;
}
.check{
    margin-bottom: 30px;
}

button:hover{
    cursor: pointer;
}

@media screen and (max-width:710px) {
    .select-all{
        margin-top: 20px;
        margin-left: 0px;
    }
    .cart-buy>button{
        margin-left: 25px;
        padding: 10px;
        font-size: 20px;
        width: fit-content;
    }
    .desc>button{
        margin: 5px;
        padding: 10px;
        display: inline-block;
        font-size: 15px;
        font-weight: bolder;

    }
    .product{
        margin-top: 10%;
        margin-left: 0px;
    }
    .desc{
        margin-left: 10px;
    }
    .quantity{
        font-size: 15px;
    }
}

@media screen and (max-width:500px) {
    .product>img{
        width: 90px;
    }
    .desc{
        margin-left: 10px;
    }
    .desc> h1{
        font-size: 14px;
    }
    .desc>button{
        font-size: 8px;
        padding: 5px;
        margin: 5px;

    }
    .quantity{
        font-size: 7px;
        padding: 2px;
    }
    .cart-buy > button {
        width: 300px;
        font-size: 10px;
        margin-left: 35px;
    }
    .cart-buy> h1{
        margin-left: 30%;
        font-size: 20px;
    }

    .select-all{
        font-size: 15px;
    }
}