

.nav-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: sandybrown ;
    color: slateblue;
    position: sticky;
    top: 0px; 
    
}

input{
    margin-top: 10px;
    width: 400px;
    height: 70px;
}
h1{
    margin-left: 20px;
}
ul{
    margin-right: 60px;
    
}
ul>li{
    background: beige;
    margin-right: 5px;
}
.navoptions{
    font-size: 20px;
    padding: 20px;
    display: inline-block;

}



@media screen and (max-width:1200px) {
   input{
    width: 200px;
   }
    ul{
        margin-right: 0px;
    }
}

@media screen and (max-width:960px) {
    h1{
        margin-left: 0px;
    }
    input{
        width: 170px;
        height: 60px;
    }
    ul{
        margin-right: 0px;
    }
    ul>li{
        padding: 5px;
    }
    
}


@media screen and (max-width:750px){
    /* .nav-container{
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    } */
    input{
        width: 100px;
        height: 40px;
    }
    ul{
        margin-right: 0px;
    }
   .navoptions{
        padding: 0px;
        display: inline-block;
    }

}


@media screen and (max-width:500px) {
    .nav-container{
        justify-content: center;
        flex-direction: row;
    }
    h1{
        font-size: 20px;
    }
    
    .navoptions{
        font-size: 10px;
        margin: 0px;
    }
    input{
        width: 80px;
        font-size: 7px;
        height: 20px;
        margin: 15px;
    }
}












/* .nav-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    background: skyblue;
    height: 100px;
    border: 2px solid white;
    position: sticky;
    top: 0;
    z-index: 1000
}
.nav-container:hover{
    cursor: pointer;
}
.nav-container>h1{
    margin-left: 20px;
    font-family:cursive;
    border-radius: 10%;
    
}
.nav-container>button:hover{
    cursor: pointer;
}
input{
    width: 500px;
    border-radius: 10%;
}

.nav-container>ul{
    list-style: none;
    display: flex;
    margin-top: 20px;

}
.nav-container>ul>li{
    background: black;
    color: white;
    margin-right: 30px;
    margin-left: 20px;
    padding: 10px;
    height:fit-content;
    font-size: 25px;
}



@media screen and (max-width:1425px) {
    h1{
        display: inline-block;
        height: 5px;
    }
    .nav-container{
       
        height: 180px
    }
    .nav-container>ul{
        
        display: inline;  
    }
   .nav-container>input{
    color: red;
   }
    .nav-container>ul>li{
        display: inline-block;
        margin: 5px;
    }
    input{
        height: 80px;
    }
}

@media screen and (max-width:1127px) {
    h1{
        display: inline-block;
        height: 5px;
    }
    .nav-container{
        height: 200px;
    }
   
    .nav-container>ul>li{
        display: inline-block;
        
        margin-top: 10px;
    }
}


@media screen and (max-width:700px) {

    h1{
        display: inline-block;
        height: 15px;
    }
   input{
    margin-top: 20px;
   }
    .nav-container{
        height: 280px;
    }
    .nav-container>ul>li{
        display: inline-block;
        margin: 10px;
    }
}

@media screen and (max-width:600px) {
    
    .nav-container{
        height: 350px;
    }
} */