<p class="info-text">Check out our <a routerLink="/products">products</a></p>

<div class="container">
    <div class="location">
        <h3>🌎 Delivering to Virudhunagar-626001 <span>🔽</span></h3>
    </div>

    <div class="product-categories" *ngIf="!ismore">
        <div class="products" *ngFor="let category of productCategories" (click)="opencategory(category.name)">
            <img [src]="category.image" alt="{{ category.name }}">
            <p class="desc">{{ category.name }}</p>
        </div>
    </div>

    <div class="product-categories" *ngIf="ismore">
        <div class="products" (click)="back()">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyQvRAzrlIJgOotat72jtuiMLxh2wXcL0H5Q&s">
            <p class="desc">Back</p>
        </div>
        <div class="products" *ngFor="let category of productCategories" (click)="opencategory(category.name)">
            <img [src]="category.image" alt="{{ category.name }}">
            <p class="desc">{{ category.name }}</p>
        </div>
    </div>

    <div class="offers-container">
        <div class="offer">
            <img [src]="offerimg" class="offer-img" (click)="openproduct(offerimg)">
            <img src="https://static.thenounproject.com/png/1776684-200.png" class="next-icon" (click)="next()">
        </div>
    </div>

    <hr>
    <h1 class="deals-head">🔥 Deals For You</h1>
    <div class="deals-container">
        <div class="deal" *ngFor="let deal of productCategories" (click)="productdetail($event, deal.name)">
            <img [src]="deal.image" alt="{{ deal.name }}">
            <p class="dealdescription">80% Off || Limited Time Deal</p>
        </div>
    </div>
</div>
