.container{
    overflow: hidden;
}


.container:hover{
    cursor: pointer;
}
hr{
    border-color:brown;
    
}

.location>h3{
    display: inline-block;
    margin-left: 30px;
    background: royalblue;
    color:white;
    padding: 10px;
}
.produt-categories{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 10px;
    margin-right: 25px;
}

.products{
    /* width: 60px;
    height: 120px;
    margin: 20px; */
    margin: 20px;
    flex-basis: 5%;
}


@media screen and (max-width:1114px) {
    .products{
        flex-basis: 15.55%;
        margin: 10px;
    }
    hr{
        display: none;
    }
    .products>img{
        width: 40px;
        height: 40px;
    }
    .more>img{
        width: 60px;
        height: 60px;
    }
    
}
.desc{
    color: orange;
    font-weight: bolder;
    font-size: 15px;
}

.deals-head{
    font-size: 50px;
    margin-left: 40px;
    color: red;
    display: inline-block;
}

.deals-container{
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    gap: 50px;
}
.deal > p{
    color: red;
    font-size: 30px;
    font-weight: bolder;
}
.deal>img{
    width: 500px;
    height: 400px;
}



@media screen and (max-width:1185px) {

    .deals-container{
        grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
        gap: 20px;
    }
    .deal>img{
        width: 350px;
       
    }
    
}

@media screen and (max-width:860px) {
    .deals-container{
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));

    }
    .deal>img{
        width: 250px;
        height: 300px;
    }
}

@media screen and (max-width:655px) {
    .deals-container{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        
    }
    .deal>img{
        width: 200px;
        height: 150px;
    }
}