<div class="info-container" *ngIf="openreg">
    <h1>REGISTER </h1>
    <form>
        <label for="Username">Name:</label>
        <input type="text" placeholder="Enter Your name"><br>
        <label for="useremail">Email:</label>
        <input type="email" placeholder="Enter your Email id"><br>
        <label for="password">Password:</label>
        <input type="password" placeholder= "Enter Your password"><br>
        <label for="mobile">Mobile:</label>
        <input type="number" placeholder="Enter your Mobile Number"><br><br>
         <h2>Address</h2>
        <label for="Address">Street:</label>

        <input type="text" placeholder="Enter Your street Name"><br>
        <label for="Address">City:</label>

        <input type="text" placeholder="Enter Your city Name"><br>
        <label for="Address">State:</label>

        <input type="text" placeholder="Enter Your state name"><br>
        <label for="Address">Country:</label>

        <input type="text" placeholder="Enter Your Country name"><br>
        <label for="pincode">Pincode:</label>
        <input type="number" placeholder="Enter Your pincode"><br>
        <input type="submit" (click)="register()" value="REGISTER">

        <input type="submit" (click)="openlogin()" value="(Existing User)  LOGIN">

    </form>
</div>

<div class="login-container" *ngIf="!openreg && !(orders.length > 0)">
    <h2>LOGIN</h2>
    <form>
        <label for="useremail">Email:</label>
        <input type="email" id="useremail" name="useremail" placeholder="Enter your Email"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your Password"><br>
        <input type="submit" (click)="login()" value="LOGIN">
        <input type="submit" (click)="openregister()" value="(New user) REGISTER">
    </form>
</div>


<div class="orders-container" *ngIf="orders.length > 0">
    <h1>Orders</h1>
    <h1>Your Order is Placed</h1>

    <div class="order" *ngFor="let product of orders">
        <hr>
        <div class="product" >
            <img [src]= "product['imgurl']" 
            width="400px" height="400px">           
        </div>
        <div class="info">
            <h1>{{product['productname']}} 
                (Stardust Black, 6GB RAM, 128GB Storage) | Powered by 4G sMediaTek Helio G85 | 90Hz Display | 50MP AI Triple Camera
            </h1>
            <h2>4.1 ⭐⭐⭐⭐ &nbsp;&nbsp; 5,419 ratings </h2>
            <p class="MRP">  MRP:- 35000/-</p>
            <p class="MRP">Order Payment id : {{paymentid['razorpay_payment_id']}} </p>
            <hr>    
           <button class="Buy">Buy Again</button>
           <button class="track">Track Your Order</button>
    
        </div>
    </div>
    
</div>